.collabo .team-sketch > img {
    width: 80px;
    height: auto;
}

.collabo .team-likelion > img {
    width: 80px;
    height: auto;
}

.text-gray {
    color: #565656;
}

.font-size10 {
    font-size: 10px;
}