/* Subtitle */

.Subtitle div {
    width: 200px;
    font-size: 27px;
}

.Subtitle img {
    bottom: -10px;
}

.Subtitle .right {
    right: -25px;
}

.Subtitle .left {
    left: -25px;
}

.Subtitle .sketch_color {
    background-color: #F0D7AA;
    color: #ECAA24;
}

.Subtitle .dongari_color {
    background-color: #F9DEE1;
    color: #F4B3BA;
}

.Subtitle .neighbor_color {
    background-color: #BFD8EE;
    color: #5C91C6;
}

.Subtitle .joy_color {
    background-color: #E0C0EC;
    color: #AE87BC;
    font-size: 25px;
}

.Subtitle .game_color {
    background-color: #F4AEAD;
    color: #E94948;
    font-size: 25px;
}

.Subtitle .joy_color .left,
.Subtitle .game_color .left {
    left: -30px;
}

.Subtitle .joy_color .left,
.Subtitle .game_color .right {
    right: -30px;
}


/* SwitchBtn */

.SwitchBtn .sketch_color {
    color: #ECAA24;
    border-color: #ECAA24;
}

.SwitchBtn .sketch_color_off {
    color: #E9CF93;
    border-color: #E9CF93;
}

.SwitchBtn .neighbor_color {
    color: #5C91C6;
    border-color: #5C91C6;
}

.SwitchBtn .neighbor_color_off {
    color: #BFD8EE;
    border-color: #BFD8EE;
}

.SwitchBtn .joy_color {
    color: #AE87BC;
    border-color: #AE87BC;
}

.SwitchBtn .joy_color_off {
    color: #E0C0EC;
    border-color: #E0C0EC;
}


/* Dongari */


/* Dongari 검색창 */

.dongariSearch input {
    border: 5px solid #F5B3BA;
    background: none;
}

.dongariSearch .searchIcon {
    top: 22%;
    right: 15%;
}

.college {
    color: #F4B3BA;
    font-size: 23px;
}


/* 학과 */

.Department .Dtitle {
    background-color: #FFDADE;
    border: 1px solid #F0949E;
    left: 25px;
    top: -10px;
}

.Department .Dexplain {
    border: 2px solid #F0949E;
}

.Department .Dimg {
    width: 60px;
    margin-left: 10px;
}

.Department .Dimg img {
    width: 30px;
}

.last:last-child {
    min-height: 80vh;
}

.threeParent {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.three:first-child {
    margin-top: 1rem;
    grid-row: span 2 / span 2;
}