@tailwind base;
@tailwind components;
@tailwind utilities;

/* Subtitle */

.Subtitle div {
    width: 200px;
    height: 50px;
    font-size: 27px;
}

.Subtitle img {
    bottom: -10px;
}

.Subtitle .right {
    right: -25px;
}

.Subtitle .left {
    left: -25px;
}

.Subtitle .sketch_color {
    background-color: #F0D7AA;
    color: #ECAA24;
}

.Subtitle .dongari_color {
    background-color: #F9DEE1;
    color: #F4B3BA;
}

.Subtitle .neighbor_color {
    background-color: #BFD8EE;
    color: #5C91C6;
}

.Subtitle .joy_color {
    background-color: #E0C0EC;
    color: #AE87BC;
    font-size: 25px;
}

.Subtitle .game_color {
    background-color: #F4AEAD;
    color: #E94948;
    font-size: 25px;
}

.Subtitle .joy_color .left,
.Subtitle .game_color .left {
    left: -30px;
}

.Subtitle .joy_color .left,
.Subtitle .game_color .right {
    right: -30px;
}


/* SwitchBtn */

.Sketch .sketch_color {
    color: #ECAA24;
    border-color: #ECAA24;
}

.Sketch .sketch_color_off {
    color: #E9CF93;
    border-color: #E9CF93;
}

.Neighbor .neighbor_color {
    color: #5C91C6;
    border-color: #5C91C6;
}

.Neighbor .neighbor_color_off {
    color: #BFD8EE;
    border-color: #BFD8EE;
}

.Joy .joy_color {
    color: #AE87BC;
    border-color: #AE87BC;
}

.Joy .joy_color_off {
    color: #E0C0EC;
    border-color: #E0C0EC;
}

.Vill .sketch_color {
    color: #ECAA24;
}

.Vill .dongari_color {
    color: #F4B3BA;
}

.Vill .neighbor_color {
    color: #5C91C6;
}

.Vill .joy_color {
    color: #AE87BC;
}

.Vill .game_color {
    color: #E94948;
}

.Vill .healing_color {
    color: #92CA86;
}


/* Dongari */


/* Dongari 검색창 */

.dongariSearch input {
    border: 5px solid #F5B3BA;
    background: none;
}

.dongariSearch .searchIcon {
    top: 22%;
    right: 15%;
}

.college {
    color: #F4B3BA;
    font-size: 23px;
}


/* 학과 */

.Department .Dtitle {
    background-color: #FFDADE;
    border: 1px solid #F0949E;
    left: 25px;
    top: -10px;
}

.Department .Dexplain {
    border: 2px solid #F0949E;
}

.Department .Dimg {
    width: 60px;
    margin-left: 10px;
}

.Department .Dimg img {
    width: 30px;
}

.last:last-child {
    min-height: 60vh;
}

.threeParent {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.three:first-child {
    margin-top: 1rem;
    grid-row: span 2 / span 2;
}


/* Nav */

@layer utilities {
    .textShadow {
        text-shadow: 2px 1px 0 gray;
    }
}

.hamburger-menu {
    height: 40px;
    width: 35px;
    position: relative;
    padding: 1rem;
}

.ham-bar {
    width: 70%;
    height: 4px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;
}

.bar-top {
    top: 25%;
}

.bar-bottom {
    top: 75%
}

.hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%
}

.hamburger-menu.active .bar-mid {
    opacity: 0;
}

.hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
}

.off-screen-menu {
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
    width: 100%;
    opacity: 0;
    transition: opacity .6s ease-in-out;
}

.off-screen-menu.open {
    opacity: 1;
}


/* Element box */

.SketchElement .box {
    background-color: rgb(240, 215, 170, 0.37);
}

.Element {
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 91.666667%;
}

.neighborElement .box {
    background-color: rgb(191, 216, 238, 0.5);
}

.GameElement .box {
    background-color: rgb(244, 174, 173, 0.3);
}

.slide-in {
    animation: change 0.5s ease forwards;
}

@keyframes change {
    from {
        transform: rotateY(90deg);
        visibility: visible;
    }
    to {
        transform: translateX(0%);
    }
}


/* neighbor */

.NeighborsmallTag {
    color: #5C91C6;
    font-size: 14px;
}

.neighborfontcolor {
    color: #5C91C6;
}


/* game */

.gamebtn {
    background-color: white;
    border: 1px solid #ec6362;
    color: #EE4341;
    font-weight: bold;
    width: 100px;
}

.gamelast img {
    margin-right: -10px;
}

.gamelast span {
    font-size: 18px;
}


/* Nav */

.ShowNav {
    background-color: #B4D7F1;
    background-image: url('../../public/assets/navimg.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.ShowNav ul {
    color: white;
}

@media (min-width: 375px) {
    .ShowNav {
        width: 375px;
    }
}

@media (max-width:500px) {
    .ShowNav {
        width: 100vw;
    }
}

.presentBtn button {
    background-color: #ADCE77;
    color: white;
    padding: 5px 25px;
    border-radius: 20px;
}

.locationbtn button {
    font-size: 15px;
    width: 110px;
    border-radius: 20px;
    padding: 8px;
    margin: 0 5px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.sketchbtn {
    color: #FFAB00;
    background-color: #FDE6BE;
}

.dongaribtn {
    color: #FC7D8B;
    background-color: #F9DEE1;
}

.neighborbtn {
    color: #247ACF;
    background-color: #BFD8EE;
}


/* modal */

.modalBack {
    background-color: #FBF4E8;
}

.headermodal {
    justify-content: end !important;
}

.modalbody {
    border-radius: 10px;
}

.modalbody>div>img {
    padding: 10px 0;
}

.modaltitle {
    color: #155739;
}

.modaltitlegame {
    color: #155739;
    font-size: 32px;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: white;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
}

.basicColor {
    background-color: #FBF4E8;
}

.dongariContenttitle {
    color: #ec6362;
}

.healingText span {
    color: #0D482D;
    -webkit-text-stroke: 0.5px white;
}


/* joy */

.dongariLogo1 {
    right: 50px;
    bottom: 40px;
}

.dongariLogo2 {
    left: 70px;
    bottom: 20px;
}

.dongariLogo3 {
    right: 60px;
    bottom: 50px;
}

.dongariLogo4 {
    left: 60px;
    bottom: 30px;
}

.dongariLogo5 {
    right: 30px;
    bottom: 40px;
}

.dongariLogo6 {
    left: 70px;
    bottom: 40px;
}

.dongariLogo7 {
    right: 70px;
    bottom: 30px;
}